.myName {
  font-size: 6rem;
}

.gradient-text {
  font-weight: bold;
  background: linear-gradient(to right, #FF6EC7, #9B59B6);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.introduces {
  list-style: none;
  padding-left: 0;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.introduces li::before {
  content: "- ";
}

.contact {
  color: #B0B0B0;
}

.readMore-Btn {
  background: none;
  border: none;
  font-size: 17px;
  color: #E0E0E0;
}
